.card {
    width: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #ddeee7;
    margin: 20px auto;
    padding: 20px 20px;
}

    .card:hover {
        transform: scale(1.02);
        transition: 0.25s ease-in-out;
        background-color: whitesmoke;
        cursor: pointer;
    }

    .card img {
    width: 100%;
    height: auto;
}